<!doctype html>
<html lang="en-US">
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <div class="min-vh-100 d-flex flex-column justify-content-between">
            <div name="Wrapper">
                <header>
                    <%- include("header.ejs") %>
                </header>
                <div class="container-xxl p-3">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 mb-4">
                            <h2>Login</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 mb-3 form-create-account">
                            <form method="POST" action="/users/login">
                                <h5 class="label-create-account">Username:</h5>
                                <input class="field-create-account" type="text" name="usernameLogin" value="<%= infoUser.usernameLogin %>">
                                <h5 class="label-create-account">Password:</h5>
                                <input class="field-create-account" type="password" name="passwordLogin" value="<%= infoUser.passwordLogin %>">
                                <% if (loginMessage != 'undefined' ? loginMessage  : '' ) { %>
                                    <div class="message-<%= typeStatus %>">
                                      <%= loginMessage %>
                                    </div>
                                <% } %>
                                <button type="submit" class="button-create-account">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="d-flex flex-wrap align-items-center pt-3 mt-3">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <p>© 2022 Neerosh</p>
                </div>
            </footer>
        </div>
  </body>
</html>